<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shoot1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-4}</string>
                <key>spriteSize</key>
                <string>{60,76}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{197,1},{60,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shoot2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-3}</string>
                <key>spriteSize</key>
                <string>{60,78}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{73,1},{60,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shoot21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-5}</string>
                <key>spriteSize</key>
                <string>{60,72}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{745,1},{60,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shoot22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-5}</string>
                <key>spriteSize</key>
                <string>{66,74}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{389,1},{66,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shoot23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-5}</string>
                <key>spriteSize</key>
                <string>{54,74}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{457,1},{54,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shoot24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-5}</string>
                <key>spriteSize</key>
                <string>{52,74}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{569,1},{52,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shoot25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-5}</string>
                <key>spriteSize</key>
                <string>{52,74}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{623,1},{52,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shoot26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-5}</string>
                <key>spriteSize</key>
                <string>{54,74}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{513,1},{54,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shoot27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-4}</string>
                <key>spriteSize</key>
                <string>{56,76}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{259,1},{56,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shoot28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-3}</string>
                <key>spriteSize</key>
                <string>{60,78}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{135,1},{60,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shoot3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-3}</string>
                <key>spriteSize</key>
                <string>{70,78}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,1},{70,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shoot4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-5}</string>
                <key>spriteSize</key>
                <string>{70,74}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{317,1},{70,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shoot5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-6}</string>
                <key>spriteSize</key>
                <string>{66,72}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{677,1},{66,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>archer.png</string>
            <key>size</key>
            <string>{806,80}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2e2703b30ed61be9dfd4ee9d6b751686:295122921b019bd122e6832ee9f50e13:fad562d0e9baf5c31b4838c1ea7e9105$</string>
            <key>textureFileName</key>
            <string>archer.png</string>
        </dict>
    </dict>
</plist>
